* {
    box-sizing: border-box;
}

html {
    min-height: 100vh;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 14px;
    font-family: arial,sans-serif;
    text-align: center;
    background-color: white;
}

.lnk {
    display: flex;
    justify-content: end;
    padding: 10px;
    
}

a {
    margin: 10px;
    color: #202124;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.img {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 92px;
    max-height: 290px;
    height: calc(100% - 560px);    
    box-sizing: border-box;
    margin: 20px auto;
}

.form {
    background: #fff;
    display: flex;
    justify-content: center;    
    align-items: center;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;    
    height: 44px;
    margin: 20px auto;
    width: auto;
    max-width: 584px;
}
.form:hover {
    box-shadow : 0 0 3px rgb(136, 135, 135);
}

.srchlogo {
    padding-right: 5px;
}

.text-row {
    border: none;
    min-width: 540px;
    padding: 10px 15px;
    background-color: white;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;    
    height: 34px;
    font-size: 16px;
    user-select: none;
}

.button input[type="submit"] {
    background-color: #d2d2d3;
    border: 1px solid #f8f9fa;
    border-radius: 5px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.button input[type="submit"]:hover {
    box-shadow : 0 0 3px rgb(122, 121, 121);
}