* {
    box-sizing: border-box;
}

html {
    min-height: 100vh;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 14px;
    font-family: arial,sans-serif;
    text-align: center;
    background-color: white;
}

.lnk {
    display: flex;
    justify-content: end;
    padding: 10px;
    
}

a {
    margin: 10px;
    color: #202124;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}