body { 
    font-family: Arial, Helvetica, sans-serif;               
    margin: 30px;
    display: block;
    text-align: center;
    background-color: rgba(54, 148, 54, 0.774);
}

.lnks {    
    display: flex;
    justify-content: end;
    margin: 10px;
}

input {
    border-radius: 20px;
    padding: 10px 15px;
    border: thin solid gray;    
    margin-bottom: 20px;
}

input:hover {
    box-shadow : 0 0 5px rgb(82, 81, 81);
}

.text-row {
    min-width: 400px;
}

img {
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    margin-top: 7%;
    margin-bottom: 20px;
    width: 324px;
    height: 126px;
}

a {
    margin: 10px;
    text-decoration: none;
    color: black;
    font-size: 14px;    
}

a:hover {
    color: blue;
}