* {
    box-sizing: border-box;
}

html {
    min-height: 100vh;
}

html,
body {
    margin: 0;
    padding: 5px;
    width: auto;
    font-size: 14px;
    font-family: arial,sans-serif;
    text-align: center;
    background-color: white;
}

header {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center

}
.lnk {            
    padding: 10px;    
}

.img img {    
    height: 24px;
    width: 74px;    
    margin: 10px;
}

a {
    margin: 10px;
    color: #202124;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h3 {
    text-align: left;
    color: #d93025;
    font-size: 20px;
    margin: 15px 25px;
}

hr {
    border: 1px solid #ebebeb;
    margin: 0;
    padding: 0;
}

.search-tab {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto 30px;
}

#title-one {
    font-size: 15px;
    font-weight: bold;
}

form,
.title {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    align-items: center;
}

.title {    
    text-align: left;    
    margin: 30px 30px 10px;   
}

label {
    font-size: 13px;
    text-align: left;    
}

p {
    font-size: 11px;
    text-align: left;
    margin-left: 10px;
}

.text-row {
    width: 100%;
    text-align: left;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 28px;
    padding: 1px 8px;
    margin: 12px 2px;
}
.button {
    text-align: right;
}

.button input[type="submit"] {
    background-color: #d2d2d3;
    border: 1px solid #f8f9fa;
    border-radius: 5px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px auto;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: right;
    cursor: pointer;
    user-select: none;
}

.button input[type="submit"]:hover {
    box-shadow : 0 0 3px rgb(122, 121, 121);
}